.row {
  display: flex;
  flex-direction: row;
}

.square {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.black {
  background-color: #0099ff;
}

.white {
  background-color: #00ccff;
}

.yellowFont {
  color: yellow;
}

.whiteFont {
  color: white;
}

.pointer {
  cursor: pointer;
}

.not-allowed {
  cursor:not-allowed
}

.boardWrapper {
 display: flex;
 align-items: center;
 justify-content: center;
height: 100vh;

}